.start {
    font-family: Arial;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.title-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: block;
}

.start-game {
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.boring {
    font-weight: bold;
    display: inline;
}

.interesting {
    font-style: italic;
    display: inline;
}

tr.template {
    display: none;
}

#scores {
    margin: 0 auto;
    width: 300px;
    border: 1px solid black;
}

#scores tr td.score {
    text-align: center;
}